<section class="dark">
  <div class="container py-4">
    <article class="postcard dark">
      <a class="postcard-img-link" href="https://sara-beta.vercel.app/home" target="_blank">
        <img class="postcard-img" src="../../../assets/images/diverxia.png"
          alt="foto de la web de la clínica Diverxia" />
      </a>
      <div class="postcard-text">
        <h1 class="postcard-title"><a href="https://sara-beta.vercel.app/home" target="_blank">Clinica Diverxia</a></h1>
        <div class="postcard-bar"></div>
        <div class="postcard-preview-txt">He diseñado y programado la aplicación web de la clínica Diverxia, una
          plataforma que presenta de manera clara y
          organizada todos los servicios ofrecidos por la institución médica. Mi enfoque ha sido estructurar la
          aplicación de
          forma lógica y fácil de navegar, utilizando tecnologías como Angular y SASS para brindar una experiencia de
          usuario
          adecuada. Además, he incorporado la librería de iconos Font Awesome para mejorar la estética y funcionalidad
          de la
          aplicación, facilitando así la identificación de las distintas secciones y servicios por parte de los
          usuarios. En
          resumen, la aplicación web de la clínica Diverxia es el resultado de un esfuerzo centrado en el diseño y
          programación
          eficiente y orientado al usuario.</div>
        <ul class="postcard-tagbox">
          <li class="tag-item"><i class="fas fa-tag mr-2"></i>Angular</li>
          <li class="tag-item"><i class="fas fa-tag mr-2"></i>Bootstrap</li>
          <li class="tag-item"><i class="fas fa-tag mr-2"></i>HTML</li>
          <li class="tag-item"><i class="fas fa-tag mr-2"></i>SASS</li>
        </ul>
      </div>
    </article>
    <article class="postcard dark">
      <a class="postcard-img-link" href="#">
        <img class="postcard-img" src="https://picsum.photos/501/500" alt="Image Title" />
      </a>
      <div class="postcard-text">
        <h1 class="postcard-title"><a href="#">Podcast Title</a></h1>
        <div class="postcard-bar"></div>
        <div class="postcard-preview-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat
          asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium
          maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto
          quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</div>
        <ul class="postcard-tagbox">
          <li class="tag-item"><i class="fas fa-tag mr-2"></i>Podcast</li>
          <li class="tag-item"><i class="fas fa-tag mr-2"></i>55 mins.</li>
          <li class="tag-item"><i class="fas fa-tag mr-2"></i>55 mins.</li>
        </ul>
      </div>
    </article>
  </div>
</section>