<section class="dark">
  <div class="container py-4">
    <article class="postcard dark">
      <a class="postcard-img-link" href="https://sara-beta.vercel.app/home" target="_blank">
        <img class="postcard-img" src="../../../assets/images/diverxia.png"
          alt="foto de la web de la clínica Diverxia" />
      </a>
      <div class="postcard-text">
        <h1 class="postcard-title"><a href="https://sara-beta.vercel.app/home" target="_blank">Web Clinica Diverxia</a>
        </h1>
        <div class="postcard-bar"></div>
        <div class="postcard-preview-txt">Diseñé y programé la aplicación web de la clínica Diverxia, presentando de
          forma clara y organizada sus servicios
          médicos. La estructura es lógica y fácil de navegar, utilizando Angular, SASS y la librería de iconos Font
          Awesome. El
          resultado es una aplicación eficiente y orientada al usuario.</div>
        <ul class="postcard-tagbox">
          <li class="tag-item"><i class="fas fa-tag mr-2"></i>Angular</li>
          <li class="tag-item"><i class="fas fa-tag mr-2"></i>Bootstrap</li>
          <li class="tag-item"><i class="fas fa-tag mr-2"></i>HTML</li>
          <li class="tag-item"><i class="fas fa-tag mr-2"></i>SASS</li>
        </ul>
      </div>
    </article>
    <article class="postcard dark">
      <a class="postcard-img-link" href="https://github.com/AdriAlmohalla/ChatGPT-BOT-For-Telegram" target="_blank">
        <img class="postcard-img" src="../../../assets/images/chatgptBot.jpg"
          alt="Bot de Telegram recibiendo y emitiendo mensajes" />
      </a>
      <div class="postcard-text">
        <h1 class="postcard-title"><a href="https://github.com/AdriAlmohalla/ChatGPT-BOT-For-Telegram"
            target="_blank">Bot de ChatGPT para Telegram</a></h1>
        <div class="postcard-bar"></div>
        <div class="postcard-preview-txt">Utilicé la API key de OpenAI para desarrollar este programa .NET
          que me permite recibir los mensajes de los usuarios y generar respuestas utilizando la inteligencia artificial
          de
          GPT-3.5. Es increíble ver cómo el bot puede entender la intención detrás de las preguntas de los usuarios y
          proporcionar
          respuestas coherentes y útiles.</div>
        <ul class="postcard-tagbox">
          <li class="tag-item"><i class="fas fa-tag mr-2"></i>C#</li>
          <li class="tag-item"><i class="fas fa-tag mr-2"></i>.NET</li>
          <li class="tag-item"><i class="fas fa-tag mr-2"></i>ChatGPT API</li>
        </ul>
      </div>
    </article>
    <article class="postcard dark">
      <a class="postcard-img-link" href="https://mini-imdb-clone-nu.vercel.app/#/series" target="_blank">
        <img class="postcard-img" src="../../../assets/images/IMDBClone.jpg"
          alt="Aplicación web en la que se ven varias series con sus pósters" />
      </a>
      <div class="postcard-text">
        <h1 class="postcard-title"><a href="https://mini-imdb-clone-nu.vercel.app/#/series" target="_blank">Mini IMDB
            clon</a></h1>
        <div class="postcard-bar"></div>
        <div class="postcard-preview-txt">La aplicación utiliza la
          funcionalidad de Angular routing y los
          componentes de Angular para crear una navegación clara y reutilizar código, lo que permite una interfaz de
          usuario
          intuitiva y fácil de usar. Los usuarios pueden navegar rápidamente entre las diferentes secciones de la
          aplicación
          utilizando la barra de navegación superior, así como clicando en los diferentes componentes.</div>
        <ul class="postcard-tagbox">
          <li class="tag-item"><i class="fas fa-tag mr-2"></i>Angular</li>
          <li class="tag-item"><i class="fas fa-tag mr-2"></i>Bootstrap</li>
          <li class="tag-item"><i class="fas fa-tag mr-2"></i>TypeScript</li>
        </ul>
      </div>
    </article>
    <article class="postcard dark">
      <a class="postcard-img-link" href="https://to-do-ebon-three.vercel.app/" target="_blank">
        <img class="postcard-img" src="../../../assets/images/misTareas.png"
          alt="foto de la aplicación de tareas con varias tareas guardadas y alguna de ellas completada" />
      </a>
      <div class="postcard-text">
        <h1 class="postcard-title"><a href="https://to-do-ebon-three.vercel.app/" target="_blank">Aplicación de
            Tareas</a>
        </h1>
        <div class="postcard-bar"></div>
        <div class="postcard-preview-txt">He creado una aplicación React simple que permite a los usuarios guardar,
          marcar como completadas y eliminar tareas.
          Estoy emocionado de haber aprendido React recientemente, ya que la mayoría de mis trabajos anteriores habían
          sido en
          Angular. Siempre me ilusiona aprender nuevas tecnologías, y me encanta cómo React hace que la creación de
          interfaces de
          usuario sea fácil y fluida.</div>
        <ul class="postcard-tagbox">
          <li class="tag-item"><i class="fas fa-tag mr-2"></i>React</li>
          <li class="tag-item"><i class="fas fa-tag mr-2"></i>React Icons</li>
          <li class="tag-item"><i class="fas fa-tag mr-2"></i>JavaScript</li>
          <li class="tag-item"><i class="fas fa-tag mr-2"></i>CSS</li>
        </ul>
      </div>
    </article>
    <article class="postcard dark">
      <a class="postcard-img-link" href="https://calculator-beta-woad.vercel.app/" target="_blank">
        <img class="postcard-img" src="../../../assets/images/calculadora.jpg" alt="Foto de una calculadora web" />
      </a>
      <div class="postcard-text">
        <h1 class="postcard-title"><a href="https://calculator-beta-woad.vercel.app/" target="_blank">Calculadora</a>
        </h1>
        <div class="postcard-bar"></div>
        <div class="postcard-preview-txt">Crear una calculadora en React usando Hooks fue enriquecedor. Aprendí a
          manejar estados y efectos usando useState y
          useEffect, lo que me permitió aplicar lo aprendido en la práctica. Los Hooks ofrecen flexibilidad y son
          fáciles de usar. Me siento más confiado en mis habilidades de desarrollo
          y estoy ansioso por seguir explorando lo que React tiene para ofrecer.</div>
        <ul class="postcard-tagbox">
          <li class="tag-item"><i class="fas fa-tag mr-2"></i>React</li>
          <li class="tag-item"><i class="fas fa-tag mr-2"></i>JavaScript</li>
          <li class="tag-item"><i class="fas fa-tag mr-2"></i>CSS</li>
        </ul>
      </div>
    </article>
  </div>
</section>

<app-footer></app-footer>