<div class="landing">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-7 col-lg-6 d-flex flex-column justify-content-center">
        <h2 class="hello">Hola, mi nombre es</h2>
        <h1 class="title">Adrián Almohalla</h1>
        <p class="introduction">Soy un desarrollador web apasionado por aprender y experimentar con nuevas
          tecnologías. Te invito a que te
          sientas cómodo navegando por mis proyectos de programación. ¡Disfruta el recorrido! Además, si tienes
          alguna consulta o inquietud, no dudes en ponerte en contacto conmigo; estaré encantado de ayudarte.</p>
        <div class="social">
          <a href="https://www.linkedin.com/in/adrian-almohalla-bautista/">
            <fa-icon [icon]="faLinkedin"></fa-icon>
          </a>
          <a href="https://github.com/AdriAlmohalla">
            <fa-icon [icon]="faGithub"></fa-icon>
          </a>
          <a href="mailto:almohallabautista@gmail.com">
            <fa-icon [icon]="faEnvelope"></fa-icon>
          </a>
        </div>
      </div>
      <div class="col-12 col-md-5 col-lg-6 d-flex">
        <img class="imagen-principal" src="../../../assets/images/adrianImg.jpg"
          alt="Foto de Adrián Almohalla con gafas de sol en un mirador">
        <img class="imagen-principal-mobile" src="../../../assets/images/adrianMobile.png"
          alt="Foto de Adrián Almohalla con gafas de sol en un mirador">
      </div>
    </div>
  </div>
</div>