<div class="landing">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-7 col-lg-6 d-flex flex-column justify-content-center">
        <h2 class="hello">Hello, my name is</h2>
        <h1 class="title">Adrian Almohalla</h1>
        <p class="introduction">I am a web developer passionate about learning and experimenting with new technologies.
          I invite you to feel comfortable browsing through my programming projects. Enjoy the journey! Also, if you
          have
          any questions or concerns, do not hesitate to contact me; I will be happy to help you.</p>
        <div class="social">
          <a href="https://www.linkedin.com/in/adrian-almohalla-bautista/">
            <fa-icon [icon]="faLinkedin"></fa-icon>
          </a>
          <a href="https://github.com/AdriAlmohalla">
            <fa-icon [icon]="faGithub"></fa-icon>
          </a>
          <a href="mailto:almohallabautista@gmail.com">
            <fa-icon [icon]="faEnvelope"></fa-icon>
          </a>
        </div>
      </div>
      <div class="col-12 col-md-5 col-lg-6 d-flex">
        <img class="imagen-principal" src="../../../assets/images/adrianImg.jpg"
          alt="Picture of Adrián Almohalla with sunglasses on a lookout point">
        <img class="imagen-principal-mobile" src="../../../assets/images/adrianMobile.png"
          alt="Picture of Adrián Almohalla with sunglasses on a lookout point">
      </div>
    </div>
  </div>
</div>