<div class="container">
  <div class="row about-me">
    <div class="col-12 col-md-3">
      <div class="image-princ">
        <img src="../../../assets/images/profilePortfolio.png" alt="Imagen de Adrián Almohalla">
      </div>
    </div>
    <div class="col-12 col-md-9">
      <div class="text">
        <div class="tittle-container">
          <fa-icon [icon]="faUser"></fa-icon>
          <h1 class="tittle">Sobre mí</h1>
        </div>
        <p>Graduado en Administración y Dirección de Empresas, me he sumergido con entusiasmo en el fascinante mundo del
          desarrollo
          web desde hace un tiempo. Soy una persona resolutiva, curiosa y apasionada por aprender, siempre dispuesta a
          adaptarme y
          prosperar en entornos dinámicos. Mi objetivo actual es enfocarme en perfeccionar mis habilidades y crecer
          profesionalmente en el ámbito del desarrollo web, ya que he descubierto en esta rama una auténtica pasión y un
          enorme
          potencial de crecimiento.</p>
      </div>
    </div>
  </div>

  <div class="technology">
    <div class="tittle-container">
      <fa-icon [icon]="faLaptopCode"></fa-icon>
      <h2 class="tittle">Tecnologias</h2>
    </div>
    <div class="technology-list row">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="technology-card">
          <h3>Frontend</h3>
          <ul>
            <li>Angular</li>
            <li>JavaScript</li>
            <li>SASS</li>
            <li>Bootstrap</li>
            <li>Tailwind</li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="technology-card">
          <h3>Backend</h3>
          <ul>
            <li>.NET</li>
            <li>C#</li>
            <li>Node.js</li>
            <li>EXPRESS</li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="technology-card">
          <h3>Bases de Datos</h3>
          <ul>
            <li>SQL Server</li>
            <li>MySQL</li>
            <li>MongoDB</li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="technology-card">
          <h3>Herramientas</h3>
          <ul>
            <li>Azure</li>
            <li>Git/Github</li>
            <li>Visual Studio</li>
            <li>Visual Studio Code</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="education">
    <div class="tittle-container">
      <fa-icon [icon]="faBuildingColumns"></fa-icon>
      <h2 class="tittle">Educación</h2>
    </div>
    <div class="education-list row">
      <div class="col-12 col-lg-6">
        <div class="technology-card">
          <h3>Bootcamp Full Stack Web Developer + Especialización en .NET</h3>
          <span>CodeHouse Academy | Noviembre 2022 - Actualmente</span>
          <p>Recientemente, cursé un bootcamp intensivo en desarrollo web, donde adquirí habilidades en diseño y
            maquetación mediante
            HTML, CSS, Bootstrap y SASS. Asimismo, aprendí a crear aplicaciones web dinámicas con JavaScript, TypeScript
            y
            Angular,
            y a gestionar datos con MySQL y MongoDB. Además, desarrollé competencias en backend usando Node.js (Express)
            y
            .NET, y
            me familiaricé con control de versiones y despliegue a través de Git/GitHub y Azure.</p>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="technology-card">
          <h3>Grado en Administración y Dirección de Empresas</h3>
          <span>Universidad de Granada | 2014 - 2018</span>
          <p>Al estudiar un grado en Administración y Dirección de Empresas, adquirí habilidades analíticas, de
            liderazgo
            y comunicativas, fundamentales en el mundo empresarial. Estas capacidades me han permitido tomar decisiones
            importantes, colaborar efectivamente en equipo y adaptarme a diversas situaciones, lo que ha sido crucial
            para
            enfrentar desafíos y superar obstáculos en mi carrera profesional.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="work">
    <div class="tittle-container">
      <fa-icon [icon]="faBriefcase"></fa-icon>
      <h2 class="tittle">Experiencia Laboral</h2>
    </div>
    <div class="education-list row">
      <div class="col-12">
        <div class="technology-card">
          <h3>Desarrollo Full Stack</h3>
          <span>Bravent</span>
          <span>Marzo 2023 - Actualmente</span>
          <p>Creación de una aplicación full stack donde utilizamos Angular para la interfaz de usuario y .NET para el
            back-end. La experiencia me permitió aplicar y expandir mis habilidades en desarrollo de software.</p>
        </div>
      </div>
      <div class="col-12">
        <div class="technology-card">
          <h3>Desarrollo Frontend</h3>
          <span>Autonómo</span>
          <span>Enero 2023 | Marzo 2023</span>
          <p>Concebí y desarrollé la plataforma web para la clínica Diverxia, mostrando sus prestaciones médicas de
            manera ordenada y
            comprensible. La disposición es intuitiva y sencilla de explorar, empleando tecnologías como Angular, SASS y
            la
            colección de íconos Font Awesome. Como resultado, se obtuvo una aplicación ágil y centrada en las
            necesidades del
            usuario.</p>
        </div>
      </div>
      <div class="col-12">
        <div class="technology-card">
          <h3>Gestión de pedidos</h3>
          <span>Mercadona</span>
          <span>Marzo 2020 | Octubre 2022</span>
          <p>Me encargué de la coordinación y logística de pedidos en un almacén de Mercadona, garantizando la eficacia
            en la
            distribución y administración de productos para la cadena de tiendas.</p>
        </div>
      </div>
      <div class="col-12">
        <div class="technology-card">
          <h3>Contable</h3>
          <span>Ayuntamiento de Villanueva del Trabuco</span>
          <span>Septiembre 2018 | Octubre 2019</span>
          <p>En mi trabajo como contable, me ocupé de digitalizar y verificar las facturas de los clientes, manteniendo
            un control
            adecuado de la documentación financiera. También me encargué de la gestión de cobros y pagos, así como de la
            contabilidad general de la empresa, atendiendo a las obligaciones fiscales y financieras. Mi labor consistió
            en
            administrar de manera ordenada y precisa los recursos económicos.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>