<div class="container">
  <div class="row about-me">
    <div class="col-12 col-md-3">
      <div class="image-princ">
        <img src="../../../assets/images/profilePortfolio.png" alt="Adrián Almohalla's Image">
      </div>
    </div>
    <div class="col-12 col-md-9">
      <div class="text">
        <div class="tittle-container">
          <fa-icon [icon]="faUser"></fa-icon>
          <h1 class="tittle">About me</h1>
        </div>
        <p>As a graduate in Business Administration and Management, I have enthusiastically immersed myself in the
          fascinating world of web development for some time. I am a resourceful, curious and passionate person for
          learning, always willing to adapt and thrive in dynamic environments. My current goal is to focus on
          perfecting my skills and grow professionally in the field of web development, since I have discovered a true
          passion and enormous growth potential in this branch.</p>
      </div>
    </div>
  </div>
  <div class="technology">
    <div class="tittle-container">
      <fa-icon [icon]="faLaptopCode"></fa-icon>
      <h2 class="tittle">Technologies</h2>
    </div>
    <div class="technology-list row">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="technology-card">
          <h3>Frontend</h3>
          <ul>
            <li>Angular</li>
            <li>JavaScript</li>
            <li>SASS</li>
            <li>Bootstrap</li>
            <li>Tailwind</li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="technology-card">
          <h3>Backend</h3>
          <ul>
            <li>.NET</li>
            <li>C#</li>
            <li>Node.js</li>
            <li>EXPRESS</li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="technology-card">
          <h3>Databases</h3>
          <ul>
            <li>SQL Server</li>
            <li>MySQL</li>
            <li>MongoDB</li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="technology-card">
          <h3>Tools</h3>
          <ul>
            <li>Azure</li>
            <li>Git/Github</li>
            <li>Visual Studio</li>
            <li>Visual Studio Code</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="education">
    <div class="tittle-container">
      <fa-icon [icon]="faBuildingColumns"></fa-icon>
      <h2 class="tittle">Education</h2>
    </div>
    <div class="education-list row">
      <div class="col-12 col-lg-6">
        <div class="technology-card">
          <h3>Full Stack Web Developer Bootcamp + Specialization in .NET</h3>
          <span>CodeHouse Academy | November 2022 - April 2023</span>
          <p>I recently completed an intensive web development bootcamp where I gained skills in design and layout using
            HTML, CSS, Bootstrap, and SASS. Additionally, I learned to create dynamic web applications using JavaScript,
            TypeScript, and Angular, and to manage data with MySQL and MongoDB. Furthermore, I developed backend
            competencies using Node.js (Express) and .NET, and became familiar with version control and deployment
            through Git/GitHub and Azure.</p>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="technology-card">
          <h3>Bachelor's Degree in Business Administration and Management</h3>
          <span>University of Granada | 2014 - 2018</span>
          <p>Studying a Bachelor's Degree in Business Administration and Management, I acquired analytical, leadership,
            and communication skills that are essential in the business world. These capabilities have allowed me to
            make
            important decisions, collaborate effectively in teams, and adapt to diverse situations, which has been
            crucial in facing challenges and overcoming obstacles in my professional career.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="work">
    <div class="tittle-container">
      <fa-icon [icon]="faBriefcase"></fa-icon>
      <h2 class="tittle">Work Experience</h2>
    </div>
    <div class="education-list row">
      <div class="col-12">
        <div class="technology-card">
          <h3>Full Stack Development</h3>
          <span>Bravent</span>
          <span>March 2023 - May 2023</span>
          <p>Final team project using SCRUM methodology for my bootcamp. This project consists of creating an
            appointment management
            application for the Diverxia clinic, which allows clients and therapists to coordinate their appointments
            efficiently.
            To carry out this project, I have applied my skills in technologies such as Node.js with the Express library
            in the
            backend and Angular in the frontend. In addition, I have implemented a MySQL database to ensure proper data
            management,
            allowing the storage and retrieval of information quickly and securely.</p>
        </div>
      </div>
      <div class="col-12">
        <div class="technology-card">
          <h3>Frontend Development</h3>
          <span>Freelance</span>
          <span>January 2023 | March 2023</span>
          <p>Designed and developed the web platform for Diverxia clinic, showcasing their medical services in an
            organized and comprehensible way. The layout is intuitive and easy to navigate, using technologies such as
            Angular, SASS, and the Font Awesome icon collection. As a result, an agile application centered on the
            user's
            needs was achieved.</p>
        </div>
      </div>
      <div class="col-12">
        <div class="technology-card">
          <h3>Order Management</h3>
          <span>Mercadona</span>
          <span>March 2020 | October 2022</span>
          <p>Coordinated and managed the logistics of orders in a Mercadona warehouse, ensuring effectiveness in product
            distribution and administration for the chain of stores.</p>
        </div>
      </div>
      <div class="col-12">
        <div class="technology-card">
          <h3>Accounting</h3>
          <span>Villanueva del Trabuco City Council</span>
          <span>September 2018 | October 2019</span>
          <p>As an accountant, my duties involved digitizing and verifying customer invoices, maintaining appropriate
            control of financial documentation. I also handled payment and collection management, as well as the general
            accounting of the company, complying with fiscal and financial obligations. My work consisted of managing
            economic resources in an orderly and accurate manner.</p>
        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>